<header class="page-header">
  <h1>Dashboard</h1>
</header>

<section>
  <div>
    <p class="alert alert-secondary">There are currently <strong><%= @products_count %></strong> products in the database.</p>
  </div>
  <div>
    <p class="alert alert-secondary">There are currently <strong><%= @categories_count %></strong> product categories in the database.</p>
  </div>
  <br>
  <%= link_to "Admin Product Page", "/admin/products" %>
</section>